<%# app/views/drills/show.html.erb %>
<div class="quiz-wrapper" data-controller="quiz" data-quiz-drill-id="<%= @drill.id %>">
  <% @questions.each_with_index do |q, i| %>
    <div class="card <%= 'hidden' unless i == 0 %>" data-quiz-target="card" data-index="<%= i %>">
      <div class="q-text"><%= q[:n1] %> <%= q[:op] %> <%= q[:n2] %> = ?</div>
      <input type="number" class="ans-input" 
             data-quiz-target="input" 
             data-action="input->quiz#check" 
             data-correct="<%= q[:ans] %>">
    </div>
  <% end %>

  <div class="result-screen hidden" data-quiz-target="result">
    <h2>やったね！ぜんぶ せいかい！</h2>
    <p>＋50 EXP ゲット！</p>
    <%= link_to "トップへもどる", root_path, class: "btn" %>
  </div>
</div>